    <div class="container mt-5 mb-5">
        <h3 class="mb-4">Upload new component</h3>
        <form method='post' action='/upload' enctype="multipart/form-data" id="uploadFile">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="componentName">Component name*:</label>
                        <input type="text" class="form-control" id="componentName" aria-describedby="ComponentNameHelp" name="componentName" value="" required >
                        <div class="col-sm-12 pl-0 " id="componentMsg"></div>

                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    <div class="form-group">
                        <label for="inputVersion">Version*:</label>
                        <input type="text" class="form-control" id="inputVersion" name="inputVersion" value="" required>
                        <div class="col-sm-12 pl-0 " id="versionMsg"></div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                        <label for="fileUpload">Choose file to upload*:</label> <br>
                        <input type='file' name='fileUpload' id="upload" required>
                        <div class="col-sm-12 pl-0 " id="fileUploadMsg"></div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <div class="form-group">
                        <label for="information">Include some instructions to integrate the component:</label>
                        <textarea class="form-control" id="summernote" name="information" name="componentTextarea"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="website">Website:</label>
                        <input type="text" class="form-control" id="website" name="website" value="{{versionData.website}}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="publisher">Publisher*:</label>
                        <input type="text" class="form-control" id="publisher" name="publisher" value="" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary_custom mt-2" id="submitBtn">Upload components</button>
            <div class="col-sm-12 text-danger pl-0 " id="buttonMsg"></div>
        </form>
    </div>

   <script src="/index.js" type="module"></script> 
