<div class="homePage">
        <div>
            <img class="mt-5 flipAnimation" src="images/component_store.png" alt="Componento logo" width="300">
        </div>
        <p class="wordAnimation">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae ut repellat tempore ratione excepturi distinctio nam voluptate at, sint molestiae provident nesciunt voluptatem dolore architecto quos tenetur quisquam aliquid assumenda ipsum cupiditate modi dolores labore possimus reiciendis! Ipsa, dignissimos illum.</p>

        <div class="card blink  p-3" style="margin: 30px 60px;">
            <div class="d-flex flex-column flex-md-row">
                <div class="col-12 col-md-6">
                    <img class="graphicImg" src="/images/componento_graphic.png" alt="componento_graphic">
                </div>
                <div class="col-12 col-md-6">
                        <h2>How Componento works</h2>
                        <span>The Componento store is the central hub between product providers and their distribution partners. It works in a similar way to an app store. However, our store does not provide mobile apps, but "web components" that are integrated into the vendors' websites via standardized mechanisms - worldwide and scalable as desired. <br>
                        Develop once, deploy everywhere. Once you've developed a component and deployed it to the Componento store, it can be included in any website. When you deploy a new version of your component, it is automatically updated in all websites.<br>
                        You keep full control over your service. You can decide whether everyone can embed your components or only selected partners.
                    </span>
                </div>
            </div>
        </div>
        {{!-- <div class="card fromtop" style="margin: 30px 60px;">
            <div class="card-body">
                    <h5 class="card-title">COMPONENT</h5>
                    <span class="">Some quick example text to build on the card title and make up the bulk of the card's content.Lorem, ipsum dolor sit amet consectetur adipisicing elit</span>
                    <div class="d-flex justify-content-center">
                        <img class="homeImg mt-3" src="/images/bouquet.jpeg" alt="">
                    </div>
            </div>
        </div> --}}
        {{!-- <div class="row mr-5 ml-5 blink">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">COMPONENT</h5>
                        <span class="">Some quick example text to build on the card title and make up the bulk of the card's content.Lorem, ipsum dolor sit amet consectetur adipisicing elit</span>
                        <div class="d-flex justify-content-center">
                        <img class="homeImg mt-3" src="/images/bouquet.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">COMPONENT</h5>
                        <span class="">Some quick example text to build on the card title and make up the bulk of the card's content.Lorem, ipsum dolor sit amet consectetur adipisicing elit</span>
                        <div class="d-flex justify-content-center">
                            <img class="homeImg mt-3" src="/images/lion.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>  --}}
</div>