<div class="homePage">
        <div>
            <img class="mt-5 flipAnimation" src="images/component_store.png" alt="Componento logo" width="300">
        </div>
        <p class="wordAnimation">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae ut repellat tempore ratione excepturi distinctio nam voluptate at, sint molestiae provident nesciunt voluptatem dolore architecto quos tenetur quisquam aliquid assumenda ipsum cupiditate modi dolores labore possimus reiciendis! Ipsa, dignissimos illum.</p>
</div>