<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   <form style="margin: 40px">
        <input type="text" id="input">
         <button id="get">get</button>
         <button id="post">post</button>
   </form>

   <h1>File upload with express-fileupload</h1>
   <form method='post' action='/upload' enctype="multipart/form-data">
    <input type='file' name='fileUpload'>
    <input type='submit' value="Upload">
  </form>
   <script  src="./index.js"></script>
</body>
</html>