<div class="container mb-5">
    <h3 class="mt-5 mb-4 text-center text-md-left">All Components</h3>
    <div class="d-flex justify-content-between mb-3">
        <nav class="filter">
            {{#unless component}}
                <div class="alert alert-warning" role="alert">
                Component Name {{searchName}} doesn't exists. Try another name.
                </div>
            {{/unless}}
            {{#if component}}
                <h6>Sorting</h6>
                <ul class="pagination pagination-sm">
                    <li class="page-item">
                        <a href="/components/list?sort=abc" class="page-link">Alphabetiacal</a>
                    </li>
                    <li class="page-item ">
                        <a href="/components/list?sort=new" class="page-link">Newest</a>
                    </li>
                </ul>
            {{/if}}
        </nav>
        <form action="/components/list" method="get" class="form-inline my-2 my-lg-0">
            <div class="input-group">
                <input type="search" name="searchName" class="form-control"  placeholder="Search for Component"/>
                <button type="submit" class="btn btn-primary">
                    <span  style="display: block;
                    height: 23px;
                    width: 23px;
                    background-image: url(/image/search.svg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    position: relative;
                    color: #fff;"></span>
                </button>
            </div>
        </form> 
    </div>

    <div class="d-flex flex-row row">
        {{#each component}}
            <div class="card mb-4  col-4 p-0">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Description:</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class="d-flex flex-row flex-sm-column">
                        <a href="https://www.{{this.website}}" class="mb-2">Visit our Website</a>
                        <a href="/congrats/{{this.id}}">Look at our Component</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    {{!-- {{#if component}}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    {{/if}} --}}

</div>