    <div class="container mt-5 mb-5">

        <div class="mb-3 d-flex justify-content-start justify-content-sm-end">
            <button class="btn btn-primary_custom">
                <i class="fa-solid fa-magnifying-glass mr-2"></i><a class="text-white" href="/componentlist">Search component</a>
            </button>
        </div>
        <h3 class="mb-4">Which component you want to update</h3>
        <form method='get' action='/upload/update' enctype="multipart/form-data" id="uploadFile">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="componentName">Component name*:</label>
                        <input type="text" class="form-control" id="componentName" aria-describedby="ComponentNameHelp" name="componentName" value="" required >
                        <div class="col-sm-12 pl-0 " id="updateComponentMsg"></div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary_custom mt-2" id="componentSubmitBtn" disabled>submit component</button>
            <div class="col-sm-12 pl-0 " id="componentBtnMsg"></div>
        </form>
    </div>

   <script src="/index.js" type="module"></script>
