<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/">
    <img class="componentIcon" src="/images/favicon.ico" alt="">
    COMPONENT STORE
    </a>
    <button class="navbar-toggler p-1" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item {{#if (getCurrentUrl this '/') }} active {{/if}}">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li> 
            <li class="nav-item {{#if (getCurrentUrl this '/componentlist') }} active {{/if}}">
                <a class="nav-link" href="/componentlist">Components</a>
            </li>
            <li class="nav-item {{#if (getCurrentUrl this '/upload') }} active{{/if}}">
                <a class="nav-link" href="/upload">Upload</a>
            </li>
             <li class="nav-item {{#if (getCurrentUrl this '/upload/update') }} active{{/if}}">
                <a class="nav-link" href="/upload/update">Update-component</a>
            </li>
        </ul>
    </div>
</nav>