@font-face {
    font-family: 'RedHatDisplay';
    src: url(../fonts/RedHatDisplay-VariableFont_wght.ttf) format('truetype');
}

body {
    font-family: 'RedHatDisplay';
    color: #2a2a49f4 !important;
}

a:hover {
    color: #2a2a49f4 !important;
}

h3,
text-primary,
.page-link,
.card-link,
a {
    color: #637CBE;
}

.btn-outline-primary {
    color: #637CBE;
    border-color: #637CBE;
}

.btn-primary,
.btn-outline-primary:hover,
.page-item.active .page-link {
    color: #fff !important;
    background-color: #637CBE;
    border-color: #637CBE;
}

.btn-primary:hover,
.page-item.active:hover .page-link {
    color: #fff !important;
    background-color: #586ead;
    border-color: #586ead;
}

.bg-light {
    background-color: #637cbe33 !important;
}

.table .thead-dark th {
    color: #fff;
    background-color: #2a2a49;
}

/* FILTERICON */
.filterIcon {
  font-size: 22px;
}
/* SEARCH ICON */
.searchIcon {
    display: block;
    height: 23px;
    width: 23px;
    background-image: url(/images/search.svg);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    color: #fff
}

/* PAGINATION */

  .pagination .row {
    align-items: center;
    justify-content: center;
  }
  
  .page-link {
    border: none;
  }
  
  .page-link .arrowRight {
    border: none;
    padding: 0;
  }
  
  .page-link .arrowRight,
  .page-link .arrowLeft {
    background-color: #fff;
  }
  
  span.page-link,
  button.btn-link {
    padding: 0;
  }
  
  .page-link:hover {
    background-color: #fff;
  }
  
  .page-link ~ .pages {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .page-link.sorting {
    font-size: 1.2rem;
    margin-left: 0;
    padding-left: 0; 
  }
  
  .arrowLeft {
    display: block;
    height: 56px;
    width: 56px;
    background-image: url(/images/arrowLeft.svg); 
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    color: #000;
    background-color: #ddd;
    border: 1 solid #ddd;
    border-radius: 4px;
  }
  
  .arrowRight {
    display: block;
    height: 56px;
    width: 56px;
    background-image: url(/images/arrowRight.svg);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    color: #000;
    background-color: #ddd;
    border: 1 solid #ddd;
    border-radius: 4px;
  }
  
  .currentPage {
    font-weight: bolder;
    color: #000;
  }
  
  .new-pagination > a {
    color: #667079;
  }
  .new-pagination > a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .arrowLeft, 
    .arrowRight {
      height: 48px;
      width: 48px;
    }
  } 

  .searchTerm,
  .count,
  .activeSorting {
    color: #1300ff;
  }